div{
    height: 400px;
    width: 200px;
    background-color: blue;
    animation-name: abhi;
    animation-duration: 5s;
    animation-delay: 1s;
}
/* div:hover{
    animation-name: abhi;
    animation-duration: 5s;
} */
@keyframes abhi {
    0%{
        background-color: aqua;
        width: 500px;
        height: 200px;
    }
    25%{
        background-color: blue;
        height: 200px;
        border-radius: 30%;
    }
    50%{
        background-color: brown;
        width: 100vw;
        border-radius: 50%;
    }
    100%{
        background-color: rebeccapurple;
        width: 100vw;
        height: 100vh;
    }
}