section{
    width: 400px;
    height: 400px;
    margin: 40px auto;
    position: relative;
    transition: 3S;
    transform-style: preserve-3d;
}
/* body{
    perspective: 300px;
} */
section:hover{
    transform: rotateY(180deg);
}
div{
    width: 100%;
    height: 100%; 
    position: absolute;

}
#abhi{
    background-color: blue;
}
#ram{
    background-color:red;
    transform: rotateY(180deg);
}
#ram, #abhi{
    backface-visibility: hidden;
}