/* h1{
    color: blue;
} */
/* #a1{
    color: aqua;
} */
/* .c1{
    color: blueviolet;
} */
/* input[type='text']{
    background-color: blueviolet;
}
a[href='https://google.com']{
    background-color: brown;
} */
/* a[href$='.com']{
    background-color: crimson;
} */
